In [32]:
import pandas as pd
import numpy as np


# Input data files are available in the read-only 
import os
for dirname, _, filenames in os.walk('D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model\practice_1.ipynb
D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model\titanic_dataset.ipynb
D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model\titianic_model_2.ipynb
D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model\datasets\gender_submission.csv
D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model\datasets\test.csv
D:\Data Science With Scikitlearn and Tensorflow\Titatnic-dataset-model\datasets\train.csv

In [33]:
train_data = pd.read_csv("datasets/train.csv")
print("Train data is imported")
print("-"*50)

test_data = pd.read_csv("datasets/test.csv")
print("Test data is imported")

Train data is imported
--------------------------------------------------
Test data is imported

In [34]:
all_data = pd.concat([train_data,test_data])

In [35]:
all_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [36]:
pclass_data = all_data.loc[:,['Pclass','Sex']]
# pclass_data = all_data['Pclass']

In [37]:
from sklearn.preprocessing import LabelBinarizer

encoder = LabelBinarizer()

In [38]:
pclass_data

     Pclass     Sex
0         3    male
1         1  female
2         3  female
3         1  female
4         3    male
..      ...     ...
413       3    male
414       1  female
415       3    male
416       3    male
417       3    male

[1309 rows x 2 columns]

In [39]:
pclass_data[["Pclass","Sex"]] = pclass_data[["Pclass","Sex"]].apply(LabelBinarizer().fit_transform)
pclass_data

ValueError: Per-column arrays must each be 1-dimensional

In [ ]:
from sklearn.preprocessing import LabelBinarizer

encoder = LabelBinarizer()
one_hot_encoded_data = encoder.fit_transform(pclass_data)
one_hot_encoded_data

array([[1],
       [0],
       [0],
       ...,
       [1],
       [1],
       [1]])